* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Karla", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main {
    background-color: black;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}


.content {
    position: relative;
    text-align: center;
    display: grid;
    place-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.joint {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
    padding-right: 10px;
}

.joint h4 {
    padding-right: 10px;
    padding-left: 10px;
}


.content-about {
    position: relative;
    display: grid;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}


.content-work {
    position: flex;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}


.content-contact {
    position: relative;
    display: grid;
    font-size: 14px;
    text-align: center;
    top: 0;
    bottom: 0;
    color: azure;
    width: 540px;
    height: 580px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.contact {
    padding: 20px 30px;
}

.Contact {
    padding-top: 20px;
}



Button:hover {
    background: #78788c;
    color: #fff
}

span {
    margin: 0 5px 0 15px
}


.contact-us {
    position: relative;
    text-align: center;
    text-decoration: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.next-page {
    position: flex;
    top: 0;
    bottom: 0;
    color: azure;
}


.next-page-content {
    position: flex;
    /* padding: 200px; */
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    top: 0;
    bottom: 0;
    color: azure;
}


.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


.hero {
    display: grid;
    place-items: center;
    padding-bottom: 40px;
}


.heroimage {
    display: grid;
    width: 350px;
    justify-content: center;
    place-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}


.heronavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight: 100;
    font-style: unset;

}


.heronavbar ul {
    list-style-type: none;
    display: flex;
    position: center;
    justify-content: space-between;
}


.heronavbar ul li {
    margin: 0 10px;
}

h2 {
    font-size: 20px;
    line-height: 40px;
    padding: 1rem;
    text-align: center;
    padding-left: 100px;
    font-style: italic;
    max-width: fit-content;
    color: azure;

}

/* h3 {
    font-size: 15px;
    font-style: italic;
    line-height: 40px;
    padding: 1rem;
    text-align: center;
    max-width: fit-content;
    color: azure;
    top: 30px;
    bottom: 10px;
}

h4 {
    font-size: 13px;
    font-style: italic;
    line-height: 40px;
    padding: 2rem;
    text-align: center;
    max-width: fit-content;
    color: azure;
    top: 30px;
    bottom: 10px;
} */

.text-title-above {
    font-size: 15px;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    text-align: center;
    color: azure;
    text-transform: uppercase;
}

.text-title-below {
    font-size: 13px;
    padding-bottom: 1.5rem;
    text-align: center;
    color: azure;
    /* text-transform: lowercase; */
}

p {
    text-align: center;
    padding: 1rem;
    line-height: 20px;
    font-size: large;
    color: azure;
}

.footer {
    display: grid;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    color: azure;
}

.Icons {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 5px;

}

.vimeoicon {
    padding-left: 10px;
}


@media screen and (max-width: 670px) {
    .heroimage {
        padding-left: 10px;
        padding-right: 10px;
    }

    .heronavbar {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 5px;
    }

    .content-contact {
        width: 360px;
        height: 560px;
        padding-left: 10px;
    }

    .mail-us {
        width: 240px;
        height: 80px;
    }


    .text-title-above {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: -80px;
        text-transform: uppercase;
        font-size: 10px;
    }

    .text-title-below {
        padding-bottom: 0;
        font-size: 9px;
        font-style: initial;
    }


    .content {
        max-width: 170px;
        width: 80%;
        display: grid;
    }


    .joint {
        display: flex;
        flex: 1;
        border-radius: 10px;
        padding-right: 5px;
        padding-left: 2px;
        padding-bottom: 2rem;
        place-content: center;
        justify-content: space-between;
    }



    .video {
        padding-top: 90px;
        max-width: 170px;
        margin-right: 10px;
        /* margin-left: 10px; */

    }

}